@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Ubuntu;
    src: url(/src/assets/fonts/Ubuntu-Bold.ttf);
    font-weight: bold;
  }

  @font-face {
    font-family: Ubuntu;
    src: url(/src/assets/fonts/Ubuntu-Medium.ttf);
    font-weight: medium;
  }

  @font-face {
    font-family: Ubuntu;
    src: url(/src/assets/fonts/Ubuntu-Regular.ttf);
    font-weight: lighter;
  }
}

@layer components {
  .item {
    @apply flex w-fit gap-3 uppercase text-neutral-alabaster md:w-9/12;

    .item__texts {
      @apply hidden md:block;

      .item__title {
        @apply text-sm font-light text-primary-pastel-blue;
      }

      .item__subtitle {
        @apply text-base font-bold;
      }
    }

    .item__circle {
      @apply flex h-10 w-10 items-center justify-center rounded-full border-[1px] border-current text-base font-bold;
    }

    .item__circle--active {
      @apply border-primary-pastel-blue bg-primary-pastel-blue text-primary-marine-blue;
    }
  }

  .step {
    .step__title {
      @apply text-2xl font-bold text-primary-marine-blue;
    }

    .step__description {
      @apply mt-3 text-neutral-cool-gray;
    }
  }

  .textfield {
    .textfield__label {
      @apply text-sm text-primary-marine-blue;
    }

    .textfield__input {
      @apply mt-1 w-full rounded-md border-[1px] border-neutral-light-gray bg-transparent px-4 py-3 text-neutral-cool-gray placeholder:font-bold placeholder:text-current;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Ubuntu;
}

html,
body {
  height: 100%;
}

img,
svg {
  user-select: none;
}

ul,
li,
ol {
  text-decoration: none;
  list-style: none;
}
