@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Ubuntu;
    src: url(/src/assets/fonts/Ubuntu-Bold.ttf);
    font-weight: bold;
  }

  @font-face {
    font-family: Ubuntu;
    src: url(/src/assets/fonts/Ubuntu-Medium.ttf);
    font-weight: medium;
  }

  @font-face {
    font-family: Ubuntu;
    src: url(/src/assets/fonts/Ubuntu-Regular.ttf);
    font-weight: lighter;
  }
}

@layer components {
  .step {
    @apply flex w-fit gap-4 uppercase text-neutral-alabaster md:w-9/12;

    .step__texts {
      @apply hidden md:block;

      .step__title {
        @apply text-sm font-light text-primary-pastel-blue;
      }

      .step__subtitle {
        @apply text-base font-bold;
      }
    }

    .step__circle {
      @apply flex h-10 w-10 items-center justify-center rounded-full border-[1px] border-current text-base font-bold;
    }

    .step__circle--active {
      @apply border-primary-pastel-blue bg-primary-pastel-blue text-primary-marine-blue;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Ubuntu;
}

html,
body {
  height: 100%;
}

img,
svg {
  user-select: none;
}

ul,
li,
ol {
  text-decoration: none;
  list-style: none;
}
